body{
    background-color: rgb(0, 0, 0);
  
    
}
header{
    color:white;
    background-color: rgb(65, 3, 65);
    width:100%;
    height:10%;
    display:flex;
    
}

.header__title{
    display: flex;
    text-align: center;
    margin-left: 35%;
    font-size:50px;
    height:50px;
    margin-top:-5%;
    

}
.header__image{
    width: 5%;
    height: 5%;
    border-radius: 20%;
}
main{
    color:white;
    margin-left:10%;
}
.Main__content{
    display: flex;
text-align: center;
margin-right: 60%;
margin-top:5%;
font-size:30px;
font-family: Arial, Helvetica, sans-serif;
}
.aside{
    align-items: center;
    margin-left:20%;

}
.aside__image{
    width:500px;
    height:500px;
    margin-top:-33%;
    margin-left: 40%;
    border-radius: 15px;
   
}
footer{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:5%;
  background-color: rgb(65, 3, 65);
  color:white;
  text-align: center;
}
.footer__content{
    color:bisque;
}
